.reg {
    background: #f4f4f4;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    

  }
  
  .reg.hasPaid {
    border-left: 5px solid green;
  }
  
  .reg h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .container-reg {
    align-items: center;
    display: grid;
    background-color: steelblue;
    margin: 100px auto;
    overflow: auto;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
  }

 


